.app-viewport {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* 简单的页面切换淡入效果 */
.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}